<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span
      style="color: azure"
      mat-raised-button
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      User Information |</span
    >
    <span
      style="color: azure"
      mat-raised-button
      routerLink="/aboutUs"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      About Us |</span
    >
    <span
      style="color: azure"
      mat-raised-button
      routerLink="/contact"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Contact |</span
    >
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <a
      style="color: azure"
      style="margin-left: 10%"
      mat-raised-button
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ date | date : "dd-MM-yyyy" }}
    </a>
    <!-- <div style="width:500px; text-align: right;">
        <a style="color: azure;" style="margin-left: 80%" mat-raised-button routerLink="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"> 28-February-2023 </a>
      </div> -->
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
